@model IEnumerable<FoodieStore.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>


<div class="col-12 col-md-4 table-responsive">
    <div class="table-wrapper-scroll">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
